<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         strict="false"
         verbose="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Composer Wrapper Test Suite">
            <directory suffix="Test.php">tests/evidev/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/evidev/</directory>
        </whitelist>
    </filter>
</phpunit>
